
{% extends 'base.html' %}
{% block content %}
    <b1>회원가입</b1>
    <form method ="POST" action="{% url 'signup' %}">
    {% csrf_token %}
        <br>
        <br>
        {% if error %}          <!-- 에러뜨면 에러 내용 표시해라 -->
            <p>{{error}}</p>
            <br>
        {% endif %}
        <h3>사용자 이름</h3>
        <input name="username" type="text"> 
        <br>
        <br>
        <h3>비밀번호</h3>
        <input name="password" type="password">
        <br>
        <br>
        <h3>비밀번호 확인</h3>
        <input name="passwordCheck" type="password">
        <br>
        <br>
        <input type="submit" value="제출하기">
    </form>
{% endblock %}